
footer,
.footer {
	padding: 5px $page-lateral-padding;
	height: auto;
	overflow: hidden;

	&__separator {
		height: 1px;
		background-color: #d7d7cc;
	}

	&__links {
		text-align: center;
		margin: 0px;
		height: auto;
		overflow: hidden;
		line-height: 30px;
	    padding: 15px 0px;

		/*&:after{
		  content: "";
		  width: 100%;
		  display: inline-block;
		}*/

	}

	&__link,
	span {
		display: inline-block;
	    min-width: 120px;
		color: $logo-brown;
	}

	a {
		text-decoration: none;
		a:hover {
          text-decoration: underline !important;
		}
	}

}

@media all and (max-width: 700px) {

	.footer__links { text-align: left }
	.footer__link__wrapper { display: block !important; }

}