/* Fonts */
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Regular.otf') format('opentype');}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Bold.otf') format('opentype');font-weight:900}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Light.otf') format('opentype');font-weight:200}

@import 'https://fonts.googleapis.com/css?family=Roboto';

$font-stack: "Roboto", "Arial", sans-serif;
$font-text: $font-stack;
$font-title: "Maison", "Roboto", "Arial", san-serif;


$picture-filter-opacity: 0.3;

$transition-time: 300ms;

$page-lateral-padding: 40px;
$page-lateral-padding-mobile: 15px;


@import 'palette';
@import 'mixes';
@import 'header';
@import 'footer';
@import 'loaders';
@import 'search';
@import 'askforhelp';
@import 'flexcenter';


/* *** */

html, body {
    height: 100%;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-family: $font-stack;
}

html {
	@include box-sizing(border-box);
}

*, :before, *:after {
	@include box-sizing(inherit);
}

body {
	font-family: $font-text;
	background-color: $background-color;
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	padding: 0px $page-lateral-padding;
  min-height: calc(100% - 40px);
}

@media all and (max-width: 700px){
	main {padding: 0px $page-lateral-padding-mobile;}
}

input, a, h1, h2, h3, h4, h5, header, .page_title {
	font-family: $font-stack;
}

input {
  font-size: inherit;
}

input[type=submit],
input[type=button],
input[type=file] {
  font-family: $font-stack !important;
	cursor: pointer;
}

textarea {
  font-family: $font-stack;
}

/* General picture */
.picture {
	position: relative;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

/* Role filters */

.role_filter {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	opacity: $picture-filter-opacity;
}

.role_filter--student {
	@extend .role_filter;
	background-color: $logo-green;
}
.role_filter--mentor {
	@extend .role_filter;
	background-color: $logo-red;
}
.role_filter--educator {
	@extend .role_filter;
	background-color: $logo-brown;
}

/* general color style classes */

.c_green, .c_student {
	color: $logo-green;
	fill: $logo-green;
  border-color: $logo-green;
  box-shadow-color: $logo-green;
  -webkit-box-shadow-color: $logo-green;
}
.c_red, .c_mentor {
	color: $logo-red;
	fill: $logo-red;
  border-color: $logo-red;
  box-shadow-color: $logo-red;
  -webkit-box-shadow-color: $logo-red;
}
.c_brown, .c_educator {
	color: $logo-brown;
	fill: $logo-brown;
  border-color: $logo-brown;
  box-shadow-color: $logo-brown;
  -webkit-box-shadow-color: $logo-brown;
}

.b_student {
  background-color: $logo-green;
}

.b_mentor {
  background-color: $logo-red;
}

.b_educator {
  background-color: $logo-brown;
}

/* Buttons */
    
.st_button {
  border: none;
  padding: 7px;
  margin: 3px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: $logo-green;
  @include transition($transition-time);

  /*background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;*/

    &:hover {
      @include bright(0.5);
      /*color: $palette-yellow !important;
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;*/
    }
}

/* Scrollbar */
.pretty_scrollbar {
	&::-webkit-scrollbar {
        width: 0.7em;
    }

    &::-webkit-scrollbar-track {
        background-color: $background-color
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #333;
      outline: 1px solid #444;
      cursor: pointer;
    }
}

/* far away - fixed section outside with */
.faraway {
  position: fixed;
  top: 0px; left: 0px; 
  width: 100%;
  height: 100%;
          transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  z-index: 999999;
  @include transition($transition-time);
}

.not_faraway {
          transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
}

