/* SEARCH */

$search-main-margin: 20px;

$search-header-height: 120px;
$search-filters-height: 0px; /* 30px; */
$search-main-height: calc(100% - #{$search-header-height + $search-filters-height + ($search-main-margin*2)});

$search-result-height: 120px;
$search-result-height-mobile: 80px;

.search {
    text-align: left;
    background: $header-background;
    @extend .faraway;

    &--visible {
        @extend .not_faraway;
    }

    &__header,
    &__filters,
    &__main {
        position: relative;
    }

    &__header {
        height: $search-header-height;
        overflow: hidden;
        background-color: $background-color;
    }

    &__filters {

        /* TO BE FINISHED */
        display: none;

        height: $search-filters-height;
        padding: 0px $search-main-margin;
    }

    &__main {
        height: $search-main-height;
        margin: $search-main-margin;
        overflow-y: scroll;
        overflow-x: hidden;
        @extend .pretty_scrollbar;
    }

}

.search__header {

    > input[type=text]{
        margin: 15px 20px;
        margin-right: 10px;
        min-width: 250px;
        width: calc(100% - 90px);
        height: 90px;
        line-height: 90px;
        font-size: 72px;
        background: transparent;
        border: none;
        font-weight: 100;
        vertical-align: middle;

        &:focus {
            border: none !important;
            @include box-shadow(none !important);
            outline: none;
        };
    }

    > .tempclose {

        $tempclose-size: 30px;

        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: $tempclose-size;
        height: $tempclose-size;
        color: #999;
        text-align: center;
        font-size: $tempclose-size;
        line-height: $tempclose-size;
        @include border-radius(50%);
    }

}

.search__filters {

    > div {
        position: relative;
        display: inline-block;
        width: 100px;
        margin: 0px 5px;
        cursor: pointer;
        line-height: $search-filters-height;
        height: 100%;
    }

    &__content {
        position: absolute;
        top: 0px; left: 0px;
        z-index: 1;
        width: 100%;
        height: auto;
        max-height: $search-filters-height;
        overflow: hidden;
        text-align: center;
        @include transition($transition-time);

        &:hover {
            max-height: none;
        }

    }

    &__item {

        display: block;
        line-height: $search-filters-height;
        color: #fff;
        background: $palette-yellow;
        @include transition($transition-time);

        &:hover,
        &--selected {
            @include bright(0.8);
        }

    }

}


.search_result {
    position: relative;
    height: $search-result-height;
    font-size: 0;
    
    &--hidden {
        display: none;
    }

    > a {
        display: block;
        position: relative;
        height: 100%;
        padding: 10px;
        color: $logo-brown;
        @include transition($transition-time);

        &:hover{
            background-color: #f9f9f9;
        }
    }

    &__pic,
    &__labels {
        display: inline-block;
        vertical-align: middle;
    }

    &__pic {
        position: relative;
        height: 100%;
        width: $search-result-height - 20px;
        text-align: center;
        margin-right: 30px;

        > div {
            position: relative;
            padding: 0px 4px;
            @include border-radius(50%);
            height: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            background-color: $background-color;
        }
    }

    &__labels {
        font-size: 22px;
        padding: 0px 5px;
    }

}


@media all and (max-width: 500px){
    
    .search__header {
        > input[type=text]{
            font-size: 32px;
        }
    }
    .search_result {
        height: $search-result-height-mobile;
        
        &__pic {
            width: $search-result-height-mobile - 20px;
        }

        &__labels {
            font-size: 20px;
            padding: 0px 5px;
            > p {
                margin: 0px
            }
        }

    }

}