<style type="text/css">
.memory_monitor_box { position: fixed; bottom: 10px; left: 10px; background: rgba(255,255,255,0.7); color: #111; padding: 15px; }
.memory_monitor_box > p > span:nth-child(1) { text-align: left }
.memory_monitor_box > p > span:nth-child(2) { text-align: right }
</style>

<div class="memory_monitor_box">

	<p><span>Core: </span><span>{{ core_memory }} Mb</span></p>
	<p><span>Core Peak: </span><span>{{ core_peak }} Mb</span></p>
	<p><span>Total: </span><span>{{ total_memory }} Mb</span></p>
	<p><span>Total Peak: </span><span>{{ total_peak }} Mb</span></p>

</div>