{# General footer #}

<footer class="footer">

	<div class="footer__separator"></div>

	<p class="footer__links">

	   <span class="footer__link__wrapper"><a class="footer__link" href="https://eke.mondspace.com" target="_blank">EKE Framework</a></span>
	   <span class="footer__link__wrapper"><a class="footer__link" href="https://unibz.it" target="_blank">Unibz.it</a></span>
	   <span class="footer__link__wrapper">&copy; {{ "now"|date("Y") }} All rights reserved</span>

	 </p>

</footer>

<script src="app/assets/vendor/oldwheel.min.js"></script>
<script src="app/assets/js/my_eke_app.js"></script>

{% for src in footer_scripts %}
	<script src="{{ src }}"></script>
{% endfor %}
